<h2>Edit entry</h2>
<%= form_for @entry do |f| %>
  <%= render :partial => 'fields', :locals => {:f => f} %> 
  <%= f.submit "Update"%> 
<% end %>
</br >
<%= link_to "Back to search", entries_path %>
